<launch>


  <arg name="camera"   				default="kinect2_head" />
  <arg name="rgb"				default="$(arg camera)/rgb_lowres/image" />
  <arg name="depth"				default="$(arg camera)/depth_lowres/image_raw" />
  <arg name="rgb_camera_info"   		default="$(arg camera)/rgb_lowres/camera_info" />
  <arg name="depth_camera_info"			default="$(arg camera)/depth_lowres/camera_info" />

  <arg name="manager" 			default="generate_pointcloud_manager_$(arg camera)" />
  <arg name="respawn" 			default="true" />  

  <!-- Nodelet manager for this pipeline -->
  <node pkg="nodelet" type="nodelet" args="manager" name="$(arg manager)" output="screen"/>
   
  <node pkg="nodelet" type="nodelet" name="generate_pointcloud_$(arg camera)"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg manager) --no-bond"
        respawn="$(arg respawn)">
<!--	<remap from="rgb/camera_info" to="$(arg rgb_camera_info)"/>
  	<remap from="rgb/image_rect_color" to="$(arg rgb)"/>    
        <remap from="depth_registered/image_rect" to="$(arg depth)"/>    
-->

	<remap from="rgb/camera_info" to="/kinect2_head/rgb_lowres/camera_info"/>
  	<remap from="rgb/image_rect_color" to="/kinect2_head/rgb_lowres/image"/>    
        <remap from="depth_registered/image_rect" to="/kinect2_head/depth_lowres/image"/>    

        <remap from="depth_registered/points" to="$(arg camera)/pointcloud"/>   
  </node>

</launch>

